.categori{
  display: flex;
  align-items: center;
}

.categori h3{
 margin-right: 38px;
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 32px;
 color: #191919; 
}

.categori__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;  
  display: flex;
  align-items: center;
  
  color: #191919;
}

.categori__link img{
  margin-left: 15px;
}

.loding{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.allcategories{
  background-color:#fff;
  text-align: center;
  padding: 56px;
  margin-top: 40px;
  h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    color: #002f34;
  }
}

.allcategories__container{
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
}

.category__item{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px 0;
  width: 150px;
  color: #000;
  img{
    width: 95%;
    border-radius: 50%;
  }
  p{
    font-size: 20px;
    margin-top: 15px;
    word-break: break-word;
  }
}

.category__item__image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  img{
    width: 120px;
    height: 120px;
  }
}
.category__icon{
  font-size: 22px;
  margin-left: 8px;
}