$main-color-dark: #002E34;

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 50px;
}
.search{
  width: 760px;
}
.main__search{
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.search__wrapper{
  display: flex;
  width: 100%;
  gap: 0 20px;
  height: 40px;
  align-items: center;
  border: 2px solid $main-color-dark;
  padding-left: 20px;
  svg{
    font-size: 30px;
  }
}

.search__wrapper form{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0 20px;
  height: 40px;
}

.search__input{
  flex: 1;
  border: none;

  border-right: 1px solid #a5a2a2;
  width: 100%;
  height: 90%;
  font-size: 20px;
  outline: none;
}

.allcatt{
  color: $main-color-dark;
  padding-inline: 30px;
  font-size: 20px;
  cursor: pointer;
}

button{
  width: 168px;
  height: 42px;
  left: 767.03px;
  top: 0px;
  border: none;
  color: #FFFFFF;
  background: #3665F3;
  cursor: pointer;
  &:hover{
    opacity: .8;
    transition: 0.3s ease-in-out;
  }
}

.search__results{
  position: absolute;
  top: 100px;
  background-color: #fff;
  border: 1px solid $main-color-dark;
  box-shadow: 0px 20px 20px rgb(231, 230, 230);
  border-radius: 10px;
  min-height: 200px;
  width: calc(100% - 40px);
  margin: 0 20px;
  z-index: 2;
  padding: 10px;
  box-sizing: border-box;
}
.product__img{
  display: flex;
  align-items: center;
  gap: 20px;
  span{
    color: #002E34;
  }
  img{
    border: 1px solid $main-color-dark;
    height: 60px;
    width: 60px;
  } 
}
.result__nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  div{
    display: flex;
    gap: 40px;
  }
}
.input__txt{
  background-color: #dddddd;
  padding: 8px;
  border-radius: 5px;
  font-weight: 300;
}
.product__card__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid $main-color-dark;
  margin: 10px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  strong{
    color: #5bb85b;
  }
}