.footer{
  display: flex;
  // align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.footer__title{
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #767676;
}

.footer__text{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin-top: 16px;
  line-height: 12px;
  color: #767676;
}

.footer__link{
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin-top: 16px;
  line-height: 12px;
  color: #767676;
}